@media(min-width:1200px) {
	.container {
		width: 1200px !important
	}
}

* {
	list-style: none;
	text-decoration: none
}

body {
	font-family: "微软雅黑", 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px
}

h3 {
	font-weight: normal;
	color: #ff6f69;
	height: 50px;
	width: 100%;
	padding-left: 100px;
	border-bottom: 1px solid #ddd;
	line-height: 35px
}
.bg{
	width:100%;
	height: 3672px;
	background: #272727;
	z-index:-9999;
	overflow: hidden;
}
.bn{
width: 100%;
	height: 516px;
	background: #fff;
	background-size: cover;
	overflow: hidden;
}
#bg-image {
	position: relative;
	width: 100%;
	height: 516px;
	background: #fff;
	background-size: cover;
	

}

#bg-image img {
	width: 100%;
	height: 516px;
}
h1{
	position: absolute;
	margin: auto;
	top:10%;
	left:40%;
	font-size: 40px;
	color: #e81c35;
}
.col-md-12{
	position: absolute;
	top:20%;
	left:-5%;
	
	
}
.ab{
	width:86%;
	height: 534px;
	margin-left: 7%;
}
.zu{
	margin-top: 2px;
	width:100%;
	height: 60px;
	background: url(../img/dib.png) left;
	background-size: cover;
	color: #fff;
	font-size: 25px;
	line-height: 30px;
}
.content-item-01 ul{
	width:80%;
	margin-left: 8%;
	height: 450px;

}
.content-item-01 li{
	width:50%;
	height: 50px;

	float: left;
	font-size: 20px;
	color: #fff;
	margin-top: 30px;
	line-height: 50px;
}
.content-item-01 li i{
	color: #C7254E;
	font-size: 24px;
}
#main-page {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -585px
}

.left-bg {
	background: #ff4343;
	height: 600px
}

#profile-img {
	width: 170px;
	height: 170px;
	border: 1px solid transparent;
	border-radius: 85px;
	background: #ff6f69;
	margin: 30px auto 0
}

#profile-img img {
	display: block;
	border-radius: 75px;
	margin: 9px auto;
	width: 150px;
	height: 150px
}

#profile-top,
#profile-mid,
#profile-bot {
	color: #ddd
}

#profile-top {
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px
}

#profile-mid {
	padding-top: 15px
}

#profile-mid p {
	word-wrap: break-word
}

.ab1{
	width:86%;
	height: 674px;
	margin-left: 7%;
	margin-top: 10px;
}
.zu1{
	margin-top: 2px;
	width:100%;
	height: 60px;
	
	background: url(../img/diw.png) left;
	background-size: cover;
	color: #fff;
	text-align: right;
	font-size: 25px;
	line-height: 30px;
}
.content-item-011 ul{
	width:80%;
	margin-left: 8%;
	height: 450px;

}
.content-item-011 li{
	width:50%;
	height: 50px;

	float: left;
	font-size: 20px;
	color: #fff;
	margin-top: 30px;
	line-height: 50px;
}
.content-item-011 li i{
	color: #C7254E;
	font-size: 24px;
}
#content-skill{
	width: 98%;
	height: 600px;
	margin-top: 15px;
}



#content-skill .skill-container {
	padding: 0 15px
}

#content-skill .skill-container .skill {
	width: 46%;
	height: 100%;
	float: left;
	margin-left: 40px;
}

 #content-skill .skill-container .skill>div {
	margin-top: 20px
}

#content-skill .skill-container .skill s {
	color: #fff;
	display: inline-block;
	height: 100%;
	background: #ff4343;
	padding: 0 20px
}

 #content-skill .skill-container .skill i {
 	display: block;
	color: #555;
    margin-top: -22px;
	margin-left:470px;
}

 #content-skill .skill-container .skill>span {
 	
	display: block;
	font-size: 22px;
	color: #ff4343;
	height: 50px;
	line-height: 50px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
	
}

 #content-skill .skill-container .skill .html,
#content-skill .skill-container .skill .js,
#content-skill .skill-container .skill .css,
#content-skill .skill-container .skill .less,
#content-skill .skill-container .skill .jq,
#content-skill .skill-container .skill .jqm,
#content-skill .skill-container .skill .ext,
#content-skill .skill-container .skill .agl,
#content-skill .skill-container .skill .bs,
#content-skill .skill-container .skill .php,
#content-skill .skill-container .skill .http,
 #content-skill .skill-container .skill .sql,
#content-skill .skill-container .skill .storm,
 #content-skill .skill-container .skill .svn,
 #content-skill .skill-container .skill .ps,
 #content-skill .skill-container .skill .axu {
 	
	height: 24px;
	background: #ff6f69;

}

 #content-skill .skill-container .skill .html {
	width: 94%
}

 #content-skill .skill-container .skill .js {
	width: 90%
}

 #content-skill .skill-container .skill .css {
	width: 96%
}

 #content-skill .skill-container .skill .less {
	width: 85%
}

 #content-skill .skill-container .skill .jq {
	width: 80%
}

#content-skill .skill-container .skill .jqm {
	width: 60%
}

 #content-skill .skill-container .skill .ext {
	width: 43%
}

#content-skill .skill-container .skill .agl {
	width: 50%
}

 #content-skill .skill-container .skill .bs {
	width: 65%
}

 #content-skill .skill-container .skill .sql {
	width: 20%
}

 #content-skill .skill-container .skill .php {
	width: 20%
}

#content-skill .skill-container .skill .http {
	width: 65%
}

 #content-skill .skill-container .skill .storm {
	width: 90%
}

 #content-skill .skill-container .skill .svn {
	width: 70%
}

 #content-skill .skill-container .skill .axu {
	width: 60%
}
 #content-skill .skill-container .skill .ps {
	width: 30%
}
.exp {
	width: 45%;
	height: 100%;
	float: left;
	margin-left: 30px
}
.exp>span {
	display: block;
	font-size: 22px;
	color: #ff4343;
	height: 50px;
	line-height: 50px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin-top: 30px
}
.exp .exp-content .exp-top {
	width: 100%;
	height: 40px;
	color: #fff;
	border-bottom: 1px solid #ff4343;
	line-height: 40px
}
.exp .exp-content .exp-top label {
	color: #ff4343;
	float: right;
	font-weight: normal
}
.exp .exp-content .exp-mid {
	width: 100%;
	color: #ff4343;
	margin-top: 5px
}
#content-works .works-container {
	padding: 0 20px
}
#content-works .works-container .work-img {
	position: relative
}
#content-works .works-container .work-img li {
	display: block;
	width: 326px;
	height: 506px;
	background: #ff6f69;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
#content-works .works-container .work-img li img {
	margin: 3px;
}
#content-works .works-container .work-img li div {
	width: 320px;
	height: 0;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	cursor: pointer;
	color: #fff;
	text-align: center;
	overflow: hidden
}
#content-works .works-container .work-img li div h4 {
	font-size: 26px;
	margin-top: 40%
}
#content-works .works-container .work-img li div p {
	margin-top: 5%
}
#content-works .works-container .work-img li .jd-mark {
	margin-top:70px;
	left: 33px
}
#content-works .works-container .work-img li .intel-mark {
	margin-top:70px;
	left: 529px
}


#content-works .works-container .work-img li .game-mark {
	margin-top:70px;
	left: 33px
}
#content-works .works-container .work-img li .p360-mark {
	margin-top:70px;
	left: 529px;
	
}

.item{
	width:350px;
	height: 500px;
}
.item img{
	display: block;
	width:100%;
	height: 500px;
}
.work-img img{
	display: block;
	width:98%;
	height: 500px;
	
}
.left{
	width:30%;
	height: 60px;
float: left;
	background: url(../img/diw.png) ;
	
}
.cen{
	font-size: 30px;
       color: #999999;
       float: left;
       margin-left: 16%;
       margin-top: -8px;
}
.rigth{
	width:30%;
	height: 60px;
	
	float: right;
	background: url(../img/dib.png) right ;
}



*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}


/* menu */



.box{width:200px;height:253px;background:url(../img/m-bg.png) repeat;position:absolute;top:0;left:52%; display: none;}
.box li{background:url(../img/m1.png) no-repeat;position:absolute;}
.box li:hover{background:url(../img/m2.png) no-repeat;}
 .box .t1{background-position:0px 0px;width:49px;height:59px;left:-80%;top:59px; transform: rotate(-40deg);}
.box .t2{background-position:0px -80px;width:49px;height:52px;left:70px;top:14px; transform: rotate(30deg);}
.box .t3{background-position:0px -160px;width:58px;height:50px;left:80px;top:84px; transform: rotate(10deg);}
.box .t4{background-position:0px -240px;width:54px;height:49px;left:86px;top:154px;}

.box .t5{background-position:0px -400px;width:50px;height:54px;left:-70%;top:135px; transform: rotate(30deg);}
 .box .t1:hover{background-position:0px 0px;}
 .box .t2:hover{background-position:0px -80px;}
 .box .t3:hover{background-position:0px -160px;}
 .box .t4:hover{background-position:0px -240px;}
.box .t5:hover{background-position:0px -400px;}













.box1{width:200px;height:253px;background:url(../img/m-bg.png) repeat;position:absolute;top:-38px;left:30px;}
.box1 li{background:url(../img/m1.png) no-repeat;position:absolute;}
 .box1 li:hover{background:url(../img/m2.png) no-repeat;}
.box1 .t11{background-position:0px 0px;width:49px;height:59px;left:34px;top:8px;}
.box1 .t22{background-position:0px -80px;width:49px;height:52px;left:104px;top:24px;}
 .box1 .t33{background-position:0px -160px;width:58px;height:50px;left:134px;top:84px;}
.box1 .t44{background-position:0px -240px;width:54px;height:49px;left:143px;top:154px;}
 .box1 .t55{background-position:0px -400px;width:50px;height:57px;left:134px;top:199px; transform: rotate(-80deg);}
 .box1 .t11:hover{background-position:0px 0px;}
 .box1 .t22:hover{background-position:0px -80px;}
 .box1 .t33:hover{background-position:0px -160px;}
 .box1 .t44:hover{background-position:0px -240px;}

.box1 .t55:hover{background-position:0px -400px;}